    </main>

      <!-- FOOTER -->
      <footer>
      
        <div class="ui vertical footer segment user_footer">
        
          <!-- SECTION -->
          <div class="ui inverted section divider">
          </div>
        
          <!-- LOGO -->
          <img src="/logo.png" class="ui centered small image">
        
          <!-- CONTENT FOOTER -->
          <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="/contact">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
        <a id="admin_link" class="item" href="/logAdmin">admin</a>
          </div>
        
        </div>
      
      </footer>

    </body>

  </div>

</html>