<%- include('../../includes/adheader.ejs')%>

<div class="ui container admin_buttons">
    <a href='/adallcar'><button class="ui grey button">Voitures</button></a>
    <a href='/adShowAllRes'><button class="ui grey button">Reservations</button></a>
    <a href='/allUsers'><button class="ui grey button">Utilisateurs</button></a>
    <a href='/regAdmin'><button class="ui grey button">ajouter un admin</button></a>
</div>




<%- include('../../includes/footer.ejs')%>


